[submodule "Goggles"]
	path = Goggles
	url = https://github.com/The-Eye-of-Ar3s/Goggles
[submodule "WhitePhosphorus"]
	path = WhitePhosphorus
	url = https://github.com/The-Eye-of-Ar3s/WhitePhosphorus
[submodule "OP_RK2"]
	path = OP_RK2
	url = https://github.com/The-Eye-of-Ar3s/OP_RK2
